@import url('~@/theme.less');

.panel {
  &:extend(.cardBorder);
  width: @card-width;
  background: radial-gradient(
    67% 73% at 50% 89%,
    rgba(19, 20, 58, 0.4) 0%,
    rgba(43, 44, 108, 0) 100%
  );

  &.panelSmall {
    width: @card-width;

    .content {
      background-image: url(../../assets/img/bg_info.png);
    }
  }

  &.panelMedium {
    width: @card-width-large;

    // .content {
    //     background-image: url(../../assets/img/bg_info.png);
    // }
  }

  &.panelLarge {
    width: @card-width-large;

    .content {
      background-image: url(../../assets/img/bg_list.png);
    }
  }

  .header {
    border: 1px solid;
    height: 47px;
    position: relative;
    overflow: visible;

    .collapse {
      background-image: url(../../assets/img/collapse.png);
      height: 17px;
      width: 27px;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      background-size: 100% 100%;
      z-index: 101;
      cursor: pointer;
      left: 30px;
    }

    .title {
      font-family: PingFangSC, PingFang SC;
      font-weight: 600;
      font-size: 20px;
      padding-left: 80px;
      padding-top: 6px;
      color: #ffffff;
      line-height: 28px;
      text-align: left;
      font-style: normal;
      position: relative;
      z-index: 100;
    }

    .shadow {
      height: 36px;
      position: absolute;
      top: 9px;
      width: 100%;
      background-size: 100% 100%;
      background-image: url(../../assets/img/panelBorder.png);
    }
  }

  .content {
    padding: 0 12px 12px;
    background-size: 100% 100%;
  }
}
