@import url('~@/theme.less');

@keyframes breath {
  /* 动画开始时的不透明度 */
  0% {
    opacity: 0.5;
  }

  /* 动画50% 时的不透明度 */
  50% {
    opacity: 1;
  }

  /* 动画结束时的不透明度 */
  100% {
    opacity: 0.5;
  }
}

.pieCard {
  height: 169px;
  display: flex;
  padding: 8px 5px 0;

  .pieContent {
    width: 160px;
    height: 160px;
    border-radius: 11px;
    position: relative;
    background-image: url(../../assets/img/bg_pie.png);
    background-size: 100% 100%;
  }

  .dataContent {
    margin-left: 30px;
    flex: 1 1 0;

    .list {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;

      .listItem {
        background-image: url(../../assets/img/pieItem.png);
        background-size: 100% 100%;
        padding: 0 11px;
        display: flex;
        align-items: center;
        height: 30px;
        position: relative;

        .listItemTitle {
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          font-size: 14px;
          color: #ffffff;
          line-height: 20px;
          text-align: center;
          font-style: normal;
          position: relative;
          z-index: 100;
          display: flex;
          justify-content: space-between;
          width: 100%;

          .title {
            flex: 1 1 auto;
          }

          .percent {
            flex: 0 0 20px;
          }
        }

        .itemProgress {
          position: absolute;
          height: 100%;
          width: calc(100% -10px);
          left: 5px;
          border-top: 2px solid #09d38f;
          border-bottom: 2px solid #09d38f;
          transition: all 2s;
          top: 0;
          animation: breath infinite 5s linear;
          box-shadow: 0px 1px 7px 0px #50fbc1;
        }

        .itemBlue {
          border-color: #0bcbf9;
          background: rgba(11, 203, 249, 0.6);
          box-shadow: 0px 1px 7px 0px #5bdfff;
        }

        .itemGreen {
          border-color: #09d38f;
          background: rgba(9, 211, 143, 0.6);
          box-shadow: 0px 1px 7px 0px #50fbc1;
        }

        .itemPurple {
          border-color: #6546fe;
          background: rgba(81, 51, 226, 0.6);
          box-shadow: 0px 2px 7px 0px #9250fb;
        }

        .itemYellow {
          border-color: #ffdb51;
          background: rgba(207, 151, 27, 0.6);
          box-shadow: 0px 2px 7px 0px #ffdb51;
        }
      }
    }
  }
}
