@import url('~@/theme.less');

.list {
    font-size: 12px;
    border: 0px solid #70CFFF;

    .header {
        display: flex;
        padding: 5px;
        align-items: center;
        border-bottom: 1px solid;
        margin-bottom: 5px;
        border-image: linear-gradient(90deg, rgba(109, 135, 255, 1), rgba(156, 226, 255, 1), rgba(99, 126, 255, 1)) 1 1;

        .headerItem {
            text-align: center;
            flex: 1 1 0;
            color: @color-white;
        }
    }

    .body {

        .renderItem {
            display: flex;

            .itemCell {
                flex: 1 1 0;
                font-family: PingFangSC, PingFang SC;
                font-weight: 500;
                font-size: 14px;
                line-height: 27px;
                color: @color-white;
                text-align: center;
                font-style: normal;
            }
        }
    }
}