<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <link rel="icon" type="image/x-icon" />
    <title></title>
</head>

<body>
    <div id="root"></div>
    <script src="<%= context.config.publicPath %>js/evomap-depends.js"></script>
    <script src="<%= context.config.publicPath %>js/evomap.js"></script>
    <script src="<%= context.config.publicPath %>js/demo.js" type="module"></script>
    <script src="<%= context.config.publicPath %>js/model.js" type="module"></script>
</body>

</html>