@import url('~@/theme.less');

.header {
    display    : flex;
    padding    : 0 90px;
    height     : 75px;
    align-items: center;

    .logo {
        flex     : 0 0 auto;
        font-size: 14px;
        color    : @color-white;
    }

    .title {
        flex       : 1 1 0;
        font-size  : 36px;
        font-weight: bold;
        color      : @color-white;
        text-align : center;
    }

    .time {
        flex       : 0 0 auto;
        align-items: center;
        display    : flex;
        font-size  : 16px;
        color      : @color-white;

        .countdown {
            margin-left: 8px;
            font-size  : 24px;
            font-weight: bold;
        }
    }
}